{% feed_meta %}

{% if page.layout == 'base' %}

{% for lang in site.data.languages %}
  {% if lang.enabled and page.lang != lang.code %}
    {% if lang.code == 'en' %}
      <link rel="alternate" href="{{ site.url }}/" hreflang="{{ lang.code }}">
    {% else %}
      <link rel="alternate" href="{{ site.url }}/{{ lang.code }}/" hreflang="{{ lang.code }}">
    {% endif %}
  {% endif %}
{% endfor %}

<link rel="canonical" href="{{ site.url }}/">
{% else %}
<link rel="canonical" href="{{ site.url }}{{ page.permalink }}">
{% endif %}

<link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1.0">
<link rel="apple-touch-icon" href="/assets/icons/icon.png">
<link rel="manifest" href="/assets/manifest.json">

<link rel="dns-prefetch" href="https://www.google-analytics.com">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/imagetowebp.css">
