{% assign lang_pack = include.lang_pack %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="robots" content="index, follow">

<title>{{ page.title | default:lang_pack.title }} | {{ site.site_name }}</title>

<meta name="description" content="{{ page.description | default:lang_pack.description }}">

<meta property="og:title" content="{{ page.title | default:lang_pack.title }} | {{ site.site_name }}">
<meta property="og:locale" content="{{ lang_pack.code }}">
<meta property="og:description" content="{{ page.description | default:lang_pack.description }}">
<meta property="og:url" content="{{ site.url }}/">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
<meta property="og:type" content="website" />
<meta name="keywords" content="{{ page.keywords | default:lang_pack.keywords | join:',' }}">

{% unless page.image %}
  <meta property="og:image" content="{{ site.url }}/assets/icons/icon.png">
{% endunless %}

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ page.title | default:lang_pack.title }} | {{ site.site_name }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="application-name" content="{{ page.title | default:lang_pack.title }} | {{ site.site_name }}">
<!-- <meta name="msapplication-config" content="{{ '/assets/ieconfig.xml' | relative_url }}"> -->

{% include head/ld-json.html lang_pack=lang_pack %}
