{% assign lang_pack = include.lang_pack %}
{% assign languages = site.data.languages %}
{% assign code = include.code %}

<header class="header">
  <nav class="h4 sm-h6">
    <nav class="clearfix">
      <div class="col-12 md-col-9 mx-auto clearfix flex flex-center mb2">
        <div class="sm-col flex-auto">
          <a href="/" class="py1 block flex flex-center logo">
            <img src="/assets/icons/icon.png" style="max-width: 2.3rem;" class="mr1 md-mr2">
            <div class="logo-text-wrap">
              <div class="logo-text">
                <span class="black main">IMAGE TO WEBP</span>
                <span class="black sub">Various Type Of Images</span>
              </div>
            </div>
            <span class="dropdown-icon"></span>
          </a>
          <div class="dropdown-menu">
            <a href="https://imagetojpg.com{{ code }}" target="_blank" class="logo">
              <div class="dropdown-list">
                <img src="/assets/icons/icon.png" style="max-width: 2rem;" class="mr1 md-mr2">
                <div class="logo-text-wrap">
                  <div class="logo-text">
                    <span class="black main" style="color: #3e5871;">IMAGE TO JPG</span>
                    <span class="black sub">Various Type Of Images</span>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://imgcompression.com{{ code }}" target="_blank" class="logo">
              <div class="dropdown-list">
                <img src="/assets/icons/icon-compress.png" style="max-width: 2rem;" class="mr1 md-mr2">
                <div class="logo-text-wrap">
                  <div class="logo-text">
                    <span class="black main" style="color:#2980b9;">COMPRESS</span>
                    <span class="black sub">Various Type Of Images</span>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://imgresizing.com{{ code }}" target="_blank" class="logo">
              <div class="dropdown-list">
                <img src="/assets/icons/icon-resize.png" style="max-width: 2rem;" class="mr1 md-mr2">
                <div class="logo-text-wrap">
                  <div class="logo-text">
                    <span class="black main" style="color: #8e44ad;">RESIZE</span>
                    <span class="black sub">Various Images</span>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://imagejoin.com{{ code }}" target="_blank" class="logo">
              <div class="dropdown-list">
                <img src="/assets/icons/icon-join.png" style="max-width: 2rem;" class="mr1 md-mr2">
                <div class="logo-text-wrap">
                  <div class="logo-text">
                    <span class="black main" style="color: #84C897;">JOIN</span>
                    <span class="black sub">Various Images</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="language-box" class="btn-group">
            <button id="language-box-button" type="button" class="btn btn-secondary dropdown-toggle">
              {{ lang_pack.name }}
            </button>
            <div id="langauge-menu" class="dropdown-menu dropdown-menu-right">
              <input id="lang-search" class="form-control" type="text" placeholder="country" aria-label="country">
              {% for language in languages %}
                {% if language.enabled %}
                  {% if language.code == 'en' %}
                    <a class="language-link dropdown-item show" href="/">{{ language.name }}</a>
                  {% else %}
                    <a class="language-link dropdown-item show" href="/{{ language.code }}">{{ language.name }}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </nav>
</header>
